/* html {
    padding: 0%;
    margin: 0%;

} */

body{
    margin: 0%;
    
    width: 100%;
    background-color: rgb(231, 178, 109);
}
main{
    margin: 2em;
}

header{
    /* width: 100%; */
    background-color: rgb(50, 76, 99);
    display: flex;
    justify-content: space-between;
    /* margin: 0%; */
    padding: 1em;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
 .nav li {
    float: left;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .logo{
    width: 5%;
  }
  .logo img{
    width: 100%;
  }
  
 .nav li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .banner{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
.about-info{
text-align: center;
}

  .about-details{
    
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-gap: 2em;
    /* align-items: center; */
    padding: 2em;
    background-color:rgba(50, 76, 99, 0.866);

border-radius: 2em;
}
.resume-info{
    text-align: center;
}
.resume-details{
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-gap: 2em;
    /* align-items: center; */
    padding: 2em;
    background-color:rgba(50, 76, 99, 0.866);

border-radius: 2em;
}

.contact {
    width: 80%;

    margin: auto;
    /* background-color: rgb(161, 122, 122); */
    /* margin-top: 0%; */
}

.contact-title {
    margin: auto;
    /* margin-top: -20px; */
    text-align: center;
    border-bottom: solid black;
    border-radius: 2em;
    padding: 1em;
}

.contact-ads {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
}

.contact-ads div {
    width: fit-content;
    padding: 1em;
    margin: 2em auto;
    text-align: center;
}

.contact-form {
    /* border: 2px solid black; */
    /* padding: 1em; */
    width: 80%;
    margin: auto;
    background-color:rgba(50, 76, 99, 0.866);

    border-radius: 2em;
    padding: 2em;

}

.contact-form form {
    width: 100%;
    padding: 2% auto;
    /* border: 2px solid black; */
    box-sizing: border-box;

    /* background-color: blue; */
    /* justify-content: center; */
}

#fname,
#e-mail {
    width: 45%;
    /* box-sizing: border-box; */
    /* margin: auto; */
    /* margin-right: ; */
    margin-left: 1.5%;
    border-radius: 0.5em;
    margin-top: 1em;
    height: 2em;
    padding: 0.5em;
    border-style: inset;
}

#subject {
    width: 100%;
    box-sizing: border-box;
    height: 3em;
    padding: 0.5em;
    margin-top: 1.5em;
    border-radius: 0.5em;
    border-style: inset;
    /* margin-left: 5%; */
}

#message {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1.5em;
    /* border-collapse: collapse; */
    border-style: inset;
    border-radius: 0.5em;
    padding: 0.5em;
}

#submit {
    margin-left: 2em;
    margin-top: 1.5em;
    height: 1em;
    width: 20%;
    height: 30px;
    border-radius: 1em;
    text-align: center;
    background-color: transparent;
    color: #fff;

    /* margin: 1em; */
    /* padding: 1em; */
    text-decoration: none;
}
form{
    width: 100%;
    padding: 2% auto;
    /* border: 2px solid black; */
    /* box-sizing: border-box; */
   


}

  footer{
    background-color: rgb(50, 76, 99);
    /* margin-top: 2rem; */
    padding: 2rem;
    /* height: 10%; */
    text-align: center;
  }